@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    margin:0;
    padding:0;
    font-family: "Open Sans", sans-serif;
}
body{
    background-color: var(--background-color);
    background-image: var(--background-image);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    display: flex;
    
}
.btn-container{
    width: 20%;
    height: 900px;   
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.btn-list{
    margin-left: 20px; 
    margin-top: 60px;
}

.forms{
    display: flex;
    flex-direction: row;
    flex-basis: 67%;
    width: 100%;
    align-items: center;
}

button{
    width: 200px;
    height:75px;
    background-color: var(--button-color);
    border-radius: 15px;
    border: 2px black solid;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.5s;
    font-size: 25px;
    font-weight: bold;
    margin: 32px;
}
    
button:hover{
    background-color:var(--buttonHighlight-color);
    color: #fff;

}
.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    border: solid 2px black;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding-top: 50px;
    background-color: var(--box-color);
    color:var(--font-color);
}

.stats-content {
   margin: 20px;
   font-size: 24px;
   margin-top: 20px;
   margin-bottom: 200px;
}

.stats-content h2 {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}
.btn-play {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 20px;
    border: 3px solid #000000;
    border-radius: 10px;
    overflow: hidden;  
}

.btn-play button {
    flex: 1;
    padding: 10px 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--button-color);
    transition: background-color 0.3s, color 0.3s;
}

button:hover, .elem:hover {
    background-color: var(--buttonHighlight-color);
    color: #fff;
}
.main{
    width: 75%;
    height: 830px;
    display: flex;
    flex-direction: column;
    align-content: end;
    justify-content: end;
    margin-right: 90px;
}
.logo {
    position: absolute;
    top: 20px; 
    left: 20px; 
}

.box {
    display: none;
    position: absolute;
    flex-direction: column;
    top:calc(50% - 300px);
    left:calc(50% - 200px);
    width: 600px;
    height: 400px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: var(--box-color);
}
.opaque{
    background-color: var(--box-color-full);
}
.h1{
    display: flex;
    flex-basis: 28%;
    align-items: end;
    justify-content: center;
    color: var(--font-color);
}

.demarre{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 20%;
}

.left,.right{
    display: flex;
    flex-direction: row;
    flex-basis: 25%;
}
.left{
    justify-content: flex-end;
    height: 100%;
}

.right{
    justify-content: flex-start;
    height: 100%;
}

.elem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 40%;
    border: 2px solid #000000;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    background-color: var(--button-color);
    border-radius: 10px;
    padding-bottom: 5px;
}

#colAffiche, #diffAffiche{
    background-color: white;
    height: 80%;
    flex-basis: 50%;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-top: 6px;
    font-weight: bold;
    
}

#training{
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;

}
.btn_color {
    height: 100px;
    width: 100px;
    background-image: url(../images/settings_icon.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 5%;
    left: 90%;
    cursor: pointer;
}
.color_choice{
    display: none;
    height: 250px;
    width: 400px;
    font-size: 50px;
    background-color:var(--box-color);
    border: solid;
    border-radius: 10%;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc(50vw - 200px);
    top: 30%;
    z-index: 10;
    
}

.left,.right{
    display: flex;
    flex-direction: row;
    flex-basis: 25%;
}
.left{
    justify-content: flex-end;
    height: 100%;
}

.right{
    justify-content: flex-start;
    height: 100%;
}

#themeAffiche{
    background-color: white;
    height: 80%;
    width: 350px;
    flex-basis: 50%;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-top: 6px;
    font-weight: bold;
}

.choice{
    flex-basis: 12%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.choix{
    padding-top: 15px;
    display: flex;
    width: 220px;
}
